.field{
    height: 500px;
    width: 80%;
    border: 2px solid black;
    position: relative;
    overflow-y: hidden;
    text-align: center;
    margin: auto;
}

.panel{
    margin: auto;
    text-align: center;
}

.result{
    margin: 3%;
}